<div class="custom-form">

<% flash.each do |key, value| %>
          <div class="flash alert-message warning <%= key %> "><%= value %></div>
<% end %>

<%= form_for(:session, :url => sessions_path) do |f| %>



  <div class="clearfix">	
    <label for="xlInput">Email</label>
    <div class="input">
    	<%= text_field_tag :email, params[:email], :class=>"xLarge", :id=>"xlInput" %>
    </div>
  </div>

 <div class="clearfix">	
    <label for="xlInput">Passowrd</label>
    <div class="input">
    	<input id="password" name="password" type="password" class="xLarge" id="xlInput">
    </div>
  </div> 	
  
           
		        
  <div class="actions">
        <input type="submit" class="btn primary" value="Submit">
  </div>
  
  
<% end %>

</div>
