
<div class="custom-form">

<div id="single_action_form">

<%= form_tag password_resets_path, :method => :post, :class=>"form-stacked" do %>
	 <h4 style="margin-bottom:10px;">Forgot your password?
     </h4>

     <p>
		Enter your email to reset your password.
     </p>            


    <div class="clearfix">
    <%= text_field_tag :email, params[:email] %>
  	</div>
  <%= submit_tag "Reset Password", :class=>"btn primary" %>
<% end %>
</div>


</div>






<script type="text/javascript" charset="utf-8">


   $(function () {
     $(".secondary-nav").hide();
    });

</script>