<div class="success_form">

<img src="/assets/big_check.png" width="128" height="128">

<h2>Success</h2>

<p style="color:#AAA">We have updated your plan</p>

<p style="padding-left:30px;">
	<a href="/pages/account">Go back >></a>
</p>

</div>