<style type="text/css">

html, body{
  background:#ffffff;
}

</style>
  
        
<div class="page-header">
          <div>
            <h1>My Files</h1>
          </div>
</div>

<section id="main-console">
  <section id="left_nav">
    <section class="newsend">
          <a href="/new_transfer">Send Files »</a>
    </section>   
  <ul> 
        
    
    
    <li class="transfers">
    <a href="/containers">Sent</a>
    </li>
    <li class="received">
    <a href="https://manage.stripe.com/payments">Received</a>
    </li>


    <li class="account">
    <a href="https://manage.stripe.com/customers">Account</a>
    </li>


    <!--
    <li class="unselected recurring">
    <a href="https://manage.stripe.com/recurring">Recurring</a>
    
    </li>
    <li class="unselected transfers">
    <a href="https://manage.stripe.com/transfers">Transfers</a>
    </li>
    <li class="unselected account">
    <a href="https://manage.stripe.com/account">Your account</a>
    </li>
    <li class="unselected invites" style="margin-bottom: 25px;">
    <a href="https://manage.stripe.com/invites">Invites</a>
    </li>

    <li class="unselected api">
    <a href="https://stripe.com/docs">Docs</a>
    
    </li>
    -->
    <li class="faq">
    <a href="https://stripe.com/help/faq">FAQ</a>
    </li>
    <li class="unselected pricing">
    <a href="https://stripe.com/help/pricing">Pricing</a>
    </li>
    <li class="unselected support">
    <a href="https://stripe.com/help/contact">Support</a>
    </li>
    <li class="unselected security">
    <a href="https://stripe.com/help/security">Security</a>
    </li>

  </ul>
  </section>

  <section class="viewpane">








