
<style type="text/css" media="screen">

html, body{
      background:#E4F7FF url('/assets/grain.png') repeat;
}


#overlay{
    min-height:800px;
}

.container{
  margin-top:-25px;


}

</style>

  <div class="hero-unit" style="margin-top:42px;">
          <h1 style="font-size:28px;position:absolute">The easy way to email big files<h1>
          <div style="float:left; 
">
          <ul style="list-style-type:cjk-ideographic;padding-left:75px;font-size:18px;
">
            <br>
            <li><p>It's free</p></li>
            <li><p>Email big files (2 GB)</p></li>
            <li><p>No registration</p></li>
            <li><p>Files available for two weeks</p></li>
          </ul>
          </div>        
    <div class="features"></div>


<div class="call_to_action" style="margin-top:20px;">
  <a href="/pages/pricing" class="signup-button" style="text-decoration:none;margin-left:45px;margin-top:15px;padding-bottom:10px;"><strong>Upgrade your plan</strong>
  <p style="font-size:12px;color:white;font-weight:normal;margin-top:0px;" >and get up to 1000GB online storage</p>
 
  </a>
</div>


</div>

<div class="content" style="width:530px;border: 1px solid #BDF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
margin-top:50px;
">      
  <div class="row">
    <div class="span10">           
      <div id="fileupload">
        <%= render :partial=>"show_newtransfer", :locals=>{:container=>@container,:stuff=>@stuff,:link=>@link} %>
      </div>
    </div>	
  </div>
</div>

<div id="premiumSignup" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">×</a>
              <h3>Premium Sign Up</h3>
            </div>
            <div class="modal-body">
              <%= render "/shared/form" %>
            </div>
       
</div>


