
<style type="text/css" media="screen">

html, body{
      background:#E4F7FF url('/assets/grain.png') repeat;
}


#overlay{
    background-image: url(/assets/cloud_background.png);
    min-height:800px;
}


</style>














  <div class="senditnow"></div>

  		  <div class="hero-unit">
          <h1>A Better Way to Send Files<h1>
          
          <p>Still using a USB drive to share giant files? Senditu emails files up to 5GB/file for you. <br>Just select your files and click Send! </p>
         
    <div class="features">
     <ul>
      <li>
        Turbo Speed & Lots of Space
      </li>
      <li>
        SSL Based 128-bit Security 
      </li>
      <li>
        Password Protect Download
      </li>
       <li>
        Download Tracking/Notification
      </li>
      <li>
        Link Sharing
      </li>


     </ul>    
     </div>


<div class="call_to_action">
<p style="margin-left:40px">Want To Have These Features? </p>
  <a href="/pages/pricing" class="signup-button" style="text-decoration:none"><strong>Create a Free Account</strong></a>
  <span class="takethetour">or&nbsp<a href="#" style="text-decoration:none">Take a Tour</a></span>

</div>


		  </div>

<div class="content" style="width:530px;border: 1px solid #BDF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;">



      
      
<div class="row">
        
 <div class="span10">       
    
<div id="fileupload">

<%= render :partial=>"show_newtransfer", :locals=>{:container=>@container,:stuff=>@stuff,:link=>@link} %>
</div>


</div>	


</div>


</div>













<div id="premiumSignup" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">×</a>
              <h3>Premium Sign Up</h3>
            </div>
            <div class="modal-body">
              <%= render "/shared/form" %>
            </div>
       
</div>



