
<style type="text/css" media="screen">

html, body{
      background:#E4F7FF url('/assets/grain.png') repeat;
}


#overlay{
    background-image: url(/assets/cloud_background.png);
    min-height:800px;
}

.container{
  margin-top:-25px;


}

</style>










  		  <div class="hero-unit">
          <h1>An Easy Way to Send Files<h1>
          
          <p>
            42Share offers you a simple and secure online file sharing solution. Send, share and access your big files from anywhere.</p>
         
<div>

  <ul id="mycarousel" class="jcarousel-skin-tango" >
    <li><img src="/assets/big-storage.png" width="96" height="96" alt="" />
      <div class="item-title">
        <p>Lots of Space</p>
      </div> 
    </li>
    <li><img src="/assets/turbo-speed.png" width="96" height="96" alt="" />
       <div class="item-title">
        <p>Turbo Speed</p>

      </div> 
    </li>


    <li><img src="/assets/Web-Folder-icon.png" width="96" height="96" alt="" />
       <div class="item-title">
        <p>Unlmited Sharing</p>
      </div> 

    </li>
    
    <li><img src="/assets/email-delivery.png" width="96" height="96" alt="" />
       <div class="item-title">
        <p>Email Notification</p>

      </div> 
    </li>




    <li><img src="/assets/ZIP-File-icon.png" width="96" height="96" alt="" />
   <div class="item-title">
            <p>Bulk Download</p>

      </div> 


    </li>
    <li><img src="/assets/secure-transfer.png" width="96" height="96" alt="" />
      <div class="item-title">
        <p>Secure Transfer</p>
      </div> 
    </li>
       
  </ul>
</div>


    <div class="features">
  <!--   
     <ul>
      <li>
        Turbo Speed & Big Online Storage
      </li>
      <li>
        Secure Transfer & Sharing Proctection
      </li>
      <li>
        File & Folder Sharing Links
      </li>
      <li>
        File Tracking & Download Statistics
      </li>






   


     </ul>    
  -->


     </div>


<div class="call_to_action">
  <a href="/pages/pricing" class="signup-button" style="text-decoration:none;margin-left:55px;margin-top:10px;padding-bottom:10px;"><strong>Create a Free Account</strong>
  <p style="font-size:12px;color:white;font-weight:normal;margin-top:0px;" >And get 10 GB of free online storage</p>
 
  </a>
<!--
<div class="tour_button slide_button">


<span class="arrow"></span>
<p>Take a Tour</p>

</div>

-->

</div>


		  </div>

<div class="content" style="width:530px;border: 1px solid #BDF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
margin-top:85px;
">



      
      
<div class="row">
        
 <div class="span10">       
    
<div id="fileupload">

<%= render :partial=>"show_newtransfer", :locals=>{:container=>@container,:stuff=>@stuff,:link=>@link} %>
</div>


</div>	


</div>


</div>












<div id="premiumSignup" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">×</a>
              <h3>Premium Sign Up</h3>
            </div>
            <div class="modal-body">
              <%= render "/shared/form" %>
            </div>
       
</div>


