










  <div class="senditnow"></div>

  		  <div class="hero-unit">
          <h1>A Better Way to Send Files<h1>
          <p>The easy way to transfer and share any files including documents,presentations, videos, music, games and images.</p>
         

		  </div>

<div class="content" style="width:530px;border: 1px solid #BDF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;">



      
      
<div class="row">
        
 <div class="span10">       
    
<div id="fileupload">

<%= render :partial=>"show_newtransfer", :locals=>{:container=>@container,:stuff=>@stuff,:link=>@link} %>

</div>	


</div>


</div>














<div id="premiumSignup" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">×</a>
              <h3>Premium Sign Up</h3>
            </div>
            <div class="modal-body">
              <%= render "/shared/form" %>
            </div>
       
</div>



