
<style type="text/css" media="screen">

html, body{
      background:#E4F7FF url('/assets/grain.png') repeat;
}


#overlay{
    min-height:800px;
}

.container{
  margin-top:-25px;


}

</style>

  <div class="hero-unit" style="margin-top:50px;">
          <h1 style="font-size:40px;">SHARE WITH EASE<h1>
          
          <p style="width:370px;margin-left:2px;text-shadow:none;color:#64605C;font-family: Helvetica, Arial, Tahoma, "Trebuchet MS",sans-serif;">
            42Share offers you a simple and secure online file sharing solution. Send, share and access your <strong>big</strong> files from anywhere.</p>

    <div class="features"></div>


<div class="call_to_action" style="margin-top:20px;">
  <a href="/sign_up_free" class="signup-button" style="text-decoration:none;margin-left:45px;margin-top:15px;padding-bottom:10px;"><strong>Create a Free Account</strong>
  <p style="font-size:12px;color:white;font-weight:normal;margin-top:0px;" >And get <strong>10 GB</strong> of free online storage</p>
 
  </a>
</div>


</div>

<div class="content" style="width:530px;border: 1px solid #BDF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
margin-top:50px;
">      
  <div class="row">
    <div class="span10">           
      <div id="fileupload">
        <%= render :partial=>"show_newtransfer", :locals=>{:container=>@container,:stuff=>@stuff,:link=>@link} %>
      </div>
    </div>	
  </div>
</div>

<div id="premiumSignup" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">×</a>
              <h3>Premium Sign Up</h3>
            </div>
            <div class="modal-body">
              <%= render "/shared/form" %>
            </div>
       
</div>


