 



 <%= render :partial =>"header" %>


<div id="modal-from-dom" class="modal-two" style="border: 1px solid #DDD;">
 
             <div class="modal-body">


<div id="fileupload">




<%= render :partial=>"show_newtransfer", :locals=>{:container=>@container,:stuff=>@stuff,:link=>@link} %>

</div>  


   </div> 
</div>
<div class="container_information">

<div>

<h2> 
Recent Activity
</h2>
<div id="loader-div">
  <img src="/assets/big-ajax-loader.gif">
</div>
<div class="recent_activity">
      <% if @containers.count==0 %>         

<div class="tiptip" style="height:20px">
          <p>No recent transfers to show</p>
   

</div>

      <% else %>
        <%= render :partial => "recentcontainer", :locals =>{:containers=>@containers} %>
      <% end %>

</div>


  </section>


  </div>
  </section>





<script type="text/javascript" charset="utf-8">


   $(function () {
      $(".class").find('> .active').removeClass('active');
      $("#newtransfer").addClass('active');
    });

</script>
 