<%= render :partial=>"header" %>


    <table class="viewpane-content" style="width:50%">
        <tbody>
            <tr id="header">
                <th>NAME</th>
                <th>SIZE</th>
                <th style="color: #DD4B39;">ACTION</th>
            </tr>

            <% for f in @files %>
            <tr>
              <td>
              <%= f.file_file_name %>
              </td>
              <td>
              <%= number_to_human_size(f.file_file_size) %>
              </td>
              <td>
              <%= link_to "Download", :controller=>"stuffs", :action=>"download", :id=>f.sha1 %>
              </td>
            </tr>
            <% end %>



  </section>
  </div>
  </section>


