<style type="text/css" media="screen">

.headtabs{
  display:none ;
}

.page-header{
 position:absolute;
}

.breadcrumb{
  margin-top:35px;

}



</style>

<%= render :partial=>"header" %>



<div id="folder_display" style="width:93.5%">


<% if need_pwd(@container) %>

<div class="folder_password_form">
    
        
        
          <span>Please enter the password to access the files:</span>
          <br>
          <br>
          <input autocomplete="disabled" class="text" id="folder_password" name="password" style="width: 21em;" tabindex="2" type="password" value="">
          <input id="container_id" name="container_id" type="hidden" value=<%= @container.id %> />

          <input type="submit" name="submit" class="btn" id="submit_btn" value="Go" style="margin-top:20px;" onClick="folderPassword();return false;"/>  

         

  
</div>

<% elsif current_user %>

 <%= render :partial => "container_main",  :locals =>{:container=>@container} %> 

<% else %>

 <%= render :partial => "container_main_visit",  :locals =>{:container=>@container} %> 


<% end %>









  </section>
  </div>
  </section>






<script type="text/javascript" charset="utf-8">


   $(function () {
      $("#newtransfer a").css("padding-left","0px");


    });


     



</script>
