
<style type="text/css" media="screen">

html, body {
background: #C0DEED;
}

.footer{
	margin-top:0px;
}

p{
	padding-bottom: 10px;
font-size: 14px;
line-height: 22px !important;
color: #333 !important;
width: 80%;


}


</style>



<section id="less" style="padding:10px 20px 20px 20px">


<div class="about-heading">
<h3>About</h3>
</div>

<div class="row show-grid">
    <div class="span3">
<ul class="nav pills stacked" style="width: 100%;">
        <li class="active"><a href="#">About Senditu</a></li>
        <li><a href="/pages/contact_us">Contact us</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="/pages/vendors">Technology Vendors</a></li>
      </ul>

    </div>
    <div class="span13">
    	<h1 style="color: #404040;
font-family: arial,sans-serif;
font-weight: 200;
font-size: 25px;">Senditu is the best way to share your big files with your friends, family, colleagues, and clients. </h1>

<p>
Sending big files to others can a very frustrating experience. You’ve probably tried USB drive, email or traditional online sharing sites to send your files, but you never really liked them due to a variety of issues such as inconvenience, low capacity and bad security. Senditu is designed to solve your problem once and for all. 
<br>
<br>
Senditu's mission is to make file sharing easier, cheaper and faster. 
<br>
<br>
Not like other file sharing sites, Senditu entirely focuses on providing a service that allows you to share files quickly and safely among people you know. By integrating email transfer mechanism with Amazon’s cloud storage service, Senditu is able to greatly increase email's file transfer capacity while keeping everything you love about email, thus bringing you a better, safer file sharing experience.
<br>
<br>
Senditu is not another traditional online file sharing site. All the files are only accessible to your recipients or people who know the link.
We prohibit bots from scraping your files. 
<br>
<br>
Senditu is a service launched by 42Zen, LLC, we focus on simplicity, security and good user experience. 
</p>


    </div>


</section>