
<style type="text/css" media="screen">

html, body {
background: #C0DEED;
}

.footer{
	margin-top:0px;
}

p{
	padding-bottom: 10px;
font-size: 14px;
line-height: 22px !important;
color: #333 !important;
width: 80%;


}


</style>



<section id="less" style="padding:10px 20px 20px 20px">


<div class="about-heading">
<h3>About</h3>
</div>

<div class="row show-grid">
    <div class="span3">
<ul class="nav pills stacked" style="width: 100%;">
        <li class="active"><a href="#">About 42Share</a></li>
        <li><a href="/pages/contact_us">Contact us</a></li>
        <li><a href="/pages/vendors">Technology Vendors</a></li>
      </ul>

    </div>
    <div class="span13">
    	<h1 style="color: #404040;
font-family: arial,sans-serif;
font-weight: 200;
font-size: 25px;">42Share is the best way to share your large files with your friends, family, colleagues, and clients.
 </h1>

<p>
Sending large files to others can be an extremely frustrating experience. You have probably tried USB drive, email or traditional online sharing sites to send your files, but you never liked them due to a variety of issues such as low capacity and poor security. 42Share will solve your problem once and for all.
<br>

<br>
Not like other file sharing sites, 42Share entirely focuses on providing a service that allows you to share files quickly and safely among people you know. By integrating email with Amazon’s cloud storage service, 42Share greatly increases email's file transfer capacity, thus bringing you a better, safer file sharing experience.

<br>
<br>
Our mission is to make file sharing easier.
<br>
<br>

</p>


    </div>


</section>