
<style type="text/css" media="screen">

html, body {
background: #C0DEED;
}

.footer{
	margin-top:0px;
}

p{
	padding-bottom: 10px;
font-size: 16px;
line-height: 22px !important;
color: #333 !important;
width: 80%;


}


</style>



<section id="less" style="padding:10px 20px 20px 20px">


<div class="about-heading">
<h3>Contact</h3>
</div>

<div class="row show-grid">
    <div class="span3">
<ul class="nav pills stacked" style="width: 100%;">
        <li><a href="/pages/about">About 42Share</a></li>
        <li class="active"><a href="#">Contact us</a></li>
        <li><a href="/pages/vendors">Technology Vendors</a></li>
      </ul>

    </div>
    <div class="span13">
    	<h1 style="color: #404040;
font-family: arial,sans-serif;
font-weight: 200;
font-size: 25px;">Contact Us</h1>

<p>
For support related issues, questions, comments, partnering requests or other issues where you need an answer from a person, please contact us by sending an email to <a href="mailto:support@42Share.com">support@42Share.com</a>
</p>

    </div>


</section>