
<style type="text/css" media="screen">



body{
  background:whitesmoke;


}




#feature_details{
	padding-top:20px;
  margin-top:20px;



}


#feature_details h1{
	color: #CDCDCD;
float: left;
font-weight: bold;
font-size: 4.2em;
margin-bottom: 50px;
margin-top: 15px;
width: 100%;
text-align: center;
padding-right:15px;
}


h2.easy_sharing{
  padding-left:50px;
  font-size: 2.6em;
  clear:both;
  padding-bottom: 20px;
  background:url('/assets/mail.png') no-repeat;
  background-size:50px 50px;
  background-position: 0 -6.5px;
  margin-bottom:20px;

}

h2.file_managing{
  padding-left:50px;
  font-size: 2.6em;
  clear:both;
  margin-top:60px;
  padding-bottom: 20px;
  background:url('/assets/folder.png') no-repeat;
  background-size:50px 50px;
  background-position: 0 -6.5px;
  margin-bottom:20px;
}







</style>
<!--
<div class="subnav">
    <ul class="nav nav-pills">
      <li class="active"><a href="#"><i class="icon-envelope"></i>&nbspSend Files</a></li>
      <li class=""><a href="#"><i class="icon-download-alt"></i>&nbspDownload Files</a></li>
      <li class=""><a href="#"><i class="icon-eye-open"></i>&nbspManage Transfers</a></li>
       <li class=""><a href="#"><i class="icon-eye-open"></i>&nbspProtect Files</a></li>
    </ul>
  </div>
-->


 <div id="feature_details">

 	
 	<h1>Features</h1>

  <h2 class="easy_sharing">Simple Sharing</h2>

 		<div class="first_half first">


<div class="feature_pic">
        <img src="/assets/multiple_files2.jpg" width="430px" height="190px" alt="">   
      </div>
      <h3>Multiple Files Upload</h3>
      <p>Share as many files as you want, all at once.</p>

 

   <div class="feature_pic">
          <img src="/assets/email_link.png" alt="">
      </div>
      <h3>Direct File Sharing Via Email</h3>
      <p>
        Once you are done uploading files, we will send an email that contains the direct download link to all recipients. 
      </p>


     <div class="feature_pic">
          <img src="/assets/big_storage.png" alt="">   
      </div>
    <h3>Big & Secure Storage Space </h3>
    <p>
      We offer up to 100 GB of online storage space per paid account <br>(Powered by Amazon S3) . 
    </p>



    

 		</div>




 		<div class="second_half">
 			<div class="feature_pic">
          <img src="/assets/fast_speed.png"  alt="">
 			</div>
      <h3>Unlimited Transfer Speed</h3>
      <p>Get your files up to the cloud in minutes, without worrying about your bandwidth being restricted. 
      </p>


  
     <div class="feature_pic">
          <img src="/assets/download_folder.png" alt="">   
      </div>
    <h3>Download Entire Folders</h3>
    <p>
      We automatically compress multiple files in one folder so that you can download them in bulk.
    </p>

      <div class="feature_pic">
          <img src="/assets/folder_link.png"   alt="">
      </div>
      <h3>Quick Link Sharing</h3>
      <p>Share your files with anyone you want!</p>

    </div>






  <h2 class="file_managing">Easy File Management</h2>
  <div class="span5">
      <div class="feature_pic_small">
        <img src="/assets/file_organize.png" alt="">   
      </div>
      <h3>Share and organize </h3>
  </div>

  <div class="span5">
    <div class="feature_pic_small">
        <img src="/assets/password_protect.png" alt="">   
      </div>
      <h3>Password Protect</h3>
  </div>

  <div class="span5" style="margin-bottom:50px">
    <div class="feature_pic_small">
        <img src="/assets/download_stats.png" alt="">   
      </div>
      <h3>Download Statistics</h3>
  </div>

<a href="#" class="top">Top</a>
 		
</div>
