



<div style="margin-bottom:50px"></div>


<div id="pricingTable">
	<div class="wrap">
		<div class="column-row">
			<div class="column" id="planMax">
				<div class="header">
					<h2>Max</h2>
					<h3>$119/month</h3>
					<p>Great for teams within large companies.</p>
				</div>
				<ul>
					<li>Up to 50 users</li>
					<li>50 GB storage</li>
					<li>Unlimited Sets</li>
					<li>Unlimited Workspaces</li>
					<li>iPhone App</li>
					<li>Private URLs</li>
					<li>Enhanced Security</li>
				</ul>
				<p>
					<a class="blue-sub" href="#">Choose Plan</a>
				</p>
			</div>
		
					
			<div class="column" id="planPlus">
				<div class="header">
					<h2>Plus</h2>
					<h3>$44/month</h3>
					<p>Most Popular Plan.</p>
				</div>
				<ul>
					<li>Up to 10 users</li>
					<li>10 GB storage</li>
					<li>Unlimited Sets</li>
					<li>Unlimited Workspaces</li>
					<li>iPhone App</li>
					<li>Private URLs</li>
					<li>Enhanced Security</li>
				</ul>
				<p>
					<a class="blue-sub" href="#">Choose Plan</a>
				</p>
			</div>
		
			<div class="column" id="planBasic">
				<div class="header">
					<h2>Basic</h2>
					<h3>$24/month</h3>
					<p>Best bet for any<br> freelancer.</p>
				</div>
				<ul>
					<li>Up to 5 users</li>
					<li>5 GB storage</li>
					<li>Unlimited Sets</li>
					<li>Unlimited Workspaces</li>
					<li>iPhone App</li>
					<li>Private URLs</li>
					<li>Enhanced Security</li>
				</ul>
				<p>
					<a class="blue-sub" href="#">Choose Plan</a>
				</p>
			</div>
		
			<div class="column" id="planPersonal">
				<div class="header">
					<h2>Personal</h2>
					<h3>Free!</h3>
					<p>Getting started is a breeze!</p>
				</div>
				<ul>
					<li>Up to 3 users</li>
					<li>3 GB storage</li>
					<li>Unlimited Sets</li>
					<li>iPhone App</li>
<!-- 					<li>Standard Security</li> -->
				</ul>


				<div
				<p>
					<a class="blue-sub" href="#">Choose Plan</a>
				</p>
			</div>
		</div>
	</div>
</div>