<table class="plans" border="0" cellspacing="0">
	<thead>
	<tr class="planHeadings">
	<th class="empty">&nbsp;</th>
	<th class="planPaid">
	<h2>Unlimited</h2>
	</th>
	<th class="planFree">
	<h2>Starter</h2>
	</th>
	</tr>
	</thead>

	<tbody>
	<tr class="planPrices">
	<th>Price</th>
	<td class="planPaid"><span class="price">$15</span><sup> /month</sup></td>
	<td class="planFree"><span class="price">FREE</span></td>
	</tr>
	<tr class="odd">
	<th>Clients</th>
	<td class="planPaid">Unlimited</td>
	<td class="planFree">3</td>
	</tr>
	<tr class="even">
	<th>Unlimited Invoices</th>
	<td class="planPaid"><img src="http://www.invoicemore.com/site/images/accept_green.png" alt=""></td>
	<td class="planFree"><img src="http://www.invoicemore.com/site/images/accept_green.png" alt=""></td>
	</tr>
	<tr class="odd">
	<th>Recurring Items</th>
	<td class="planPaid"><img src="http://www.invoicemore.com/site/images/accept_green.png" alt=""></td>
	<td class="planFree"><img src="http://www.invoicemore.com/site/images/accept_green.png" alt=""></td>
	</tr>
	<tr class="even">
	<th>PDF Generation &amp; Emailing</th>
	<td class="planPaid"><img src="http://www.invoicemore.com/site/images/accept_green.png" alt=""></td>
	<td class="planFree"><img src="http://www.invoicemore.com/site/images/accept_green.png" alt=""></td>
	</tr>
	<tr class="odd">
	<th><a href="https://www.paypal.com/us/mrb/pal=XRWSXXQ67P576">PayPal Standard</a> Payments</th>
	<td class="planPaid"><img src="http://www.invoicemore.com/site/images/accept_green.png" alt=""></td>
	<td class="planFree"><img src="http://www.invoicemore.com/site/images/accept_green.png" alt=""></td>
	</tr>
	<tr class="even">
	<th>Credit Card Payment Integration*</th>
	<td class="planPaid"><img src="http://www.invoicemore.com/site/images/accept_green.png" alt=""></td>
	<td class="planFree">&nbsp;</td>
	</tr>
	<tr class="odd">
	<th>Unbranded Emails</th>
	<td class="planPaid"><img src="http://www.invoicemore.com/site/images/accept_green.png" alt=""></td>
	<td class="planFree">&nbsp;</td>
	</tr>
	<tr class="even">
	<th>Secure SSL Encryption</th>
	<td class="planPaid"><img src="http://www.invoicemore.com/site/images/accept_green.png" alt="Yes"></td>
	<td class="planFree">&nbsp;</td>
	</tr>
	</tbody>
	<tfoot>

	<tr class="planSignup">
	<td>&nbsp;</td>
	<td class="planPaid"><a href="https://signup.invoicemore.com/account/create?plan=unlimited"><img src="http://www.invoicemore.com/site/images/imBtnSignup.png" alt="Signup For The Unlimited Plan"></a></td>
	<td class="planFree"><a href="https://signup.invoicemore.com/account/create?plan=starter"><img src="http://www.invoicemore.com/site/images/imBtnSignup.png" alt="Signup For The Basic Plan"></a></td>
	</tr>
	</tfoot>
	</table>