

<style type="text/css" media="screen">

.qa p{
color: #454545;
font-size: 15px;
font-weight: normal;
line-height: 20px;
margin-bottom: 10px;
font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h4{
	line-height:22px;


}


</style>

<div style="background: #F0F0F0;
border-top: 3px solid #EBEBEB;
border-bottom: 1px solid #E1E1E1;
margin-bottom: 20px;
padding: 30px 0 31px;text-align:center;
width:1600px;margin-left:-300px;

">
      <div class="container ac">
<h1>Choose a Plan | 14-Day Money Back Guarantee</h1>
<h2 style="font-size:20px;">Send, Store and Share Your Files Anytime, From Anywhere</h2>
      </div>
 </div>


<div class="well" style="margin:auto;margin-bottom:20px;">




<div id="pricingTable">

	<div class="wrap">
		<div class="column-row">
			<div style="">
			<div class="column" id="planMax">
				<div class="header">
					<h2>Plus</h2>
					<h3>$19.99/month</h3>
				</div>
				<ul>

		


					<li><strong>100 GB</strong> storage</li>
					<li><strong>5 GB</strong> max file size</li>
					<li><strong>No</strong> Download Limit</li>

				</ul>
				<p>
					<a class="blue-sub" href="/sign_up?plan=plus">Signup!</a>
				</p>
			</div>
		
					
			<div class="column" id="planBasic">
				<div class="header">
					<h2>Premium</h2>
					<h3>$9.99/month</h3>
				</div>
				<ul>
					<li><strong>20 GB</strong> storage</li>
					<li><strong>5 GB</strong> max file size</li>
					<li><strong>No</strong> Download Limit</li>
				</ul>
				<p>
					<a class="blue-sub" href="/sign_up?plan=premium">Signup!</a>
				</p>
			</div>
		
			<div class="column" id="planBasic">
				<div class="header">
					<h2>Personal</h2>
					<h3>$4.99/month</h3>
				</div>
				<ul>
					<li><strong>5 GB</strong> storage</li>
					<li><strong>2 GB</strong> max file size</li>
					<li><strong>100</strong> Downloads/Transfer</li>
				</ul>
				<p>
					<a class="blue-sub" href="/sign_up?plan=personal">Signup!</a>
				</p>
			</div>


		
		
		
			<div class="column" id="planPersonal">
				<div class="header">
					<h2>Free</h2>
					<h3>Free!</h3>
				</div>
				<ul>
					<li>1 GB storage</li>
					<li>150MB max file size</li>
					<li>30 Downloads/Transfer</li>
				</ul>
				
				<p>
					<a class="blue-sub" href="/sign_up_free">Signup!</a>
				</p>
			</div>



				



		</div>
	</div>
</div>
</div>


        <div class="row">


 		<div class="span8">
              <div style="text-align:center;padding-top:30px;">
              <p>
                <a class="btn huge primary" href="#" style="width:50%;" title="Register for Fleetio Fleet Management System">
                  <strong>
					Sign Up for Free
		          </strong>
                  <br>
                </a>
              
           		<p>
                Larger plans are also available.
                <a href="/roi" title="Contact us">
				Contact us
	            </a>
	            for more info.
              </p>
              </p>

              </div>
              
         
          </div>
          <div class="span8">

        
            <h4>All Plans Include:</h4>
            <div style="float:left">
            <ul class="all-includes">
              <li>Unlimited Transfers</li>
              <li>Secure (SSL) protection</li>
              <li>Unrestricted Bandwidth</li>
              <li>Email support</li>
            </ul>
            </div>

           <div style="float:left"> 
           <ul class="all-includes">
              <li>Notification Upon Download</li>
              <li>Password Protect Download</li>
              <li>Past Transfer Organizer</li>
              <li>Multi-file Uploads</li>
            </ul>
         	</div>
          </div>
         
        
         
      </div>



</div>



<div class="row">
        <div class="span8 qa" style="margin-left:30px">
    
          <h4>Are there any upfront fees?</h4>
          <p>
            No. There are no upfront fees at all to begin using Senditu. You can sign up now and begin
            using it today without even opening your wallet.
          </p>
          <h4>How does the 14-day money back work</h4>
          <p>
           If you decide to cancel your subscription within 14 days of signing up you will instantly get your refund. Refunds can not be issued after your initial 14 day trial and we don’t prorate for partial months.
          </p>
          <h4>What are my payment options?</h4>
          <p>
            We accept Visa, MasterCard, Discover and American Express through our online payment system.We do not accept PayPal. At this time we only accept payments online so we will not be able to accept a P.O., invoice you, or take an order over the phone.
          </p>
           <h4>Can I change plans at any time?</h4>
          <p>
           Yep. Simply click on the “Account” tab on your dashboard and you’ll see your options.
          </p>
        </div>
        <div class="span7 qa" style="margin-left:110px">
          <h4>Do you offer any promotions?</h4>
          <p>
            If you are a student with a .EDU email, you are qualified to have one year's subscription to "Personal" plan for free. Simply click on the "Account" tab and upgrade your plan to "Personal" after you log in as a free user.
          </p>
          <h4>Do I have to sign a long term contract?</h4>
          <p>
          No. Senditu is a pay-as-you-go service. There are no long term contracts or commitments on your part. You simply pay month-to-month. If you cancel, you’ll be billed for the current month, but you won’t be billed again.         
          </p>
          <h4>What web browsers work with Senditu?</h4>
          <p>
            We support Internet Explorer 7 and higher, Firefox 3 and higher, Safari 4 and higher,
            Chrome 4 and higher.
          </p>
        </div>
      </div>



 