

<style type="text/css" media="screen">

html, body {
 background-color:#eee;
}



</style>

<!--
<div class="pricing_area">            
            
<h1 style="color: #0067AB;margin-bottom: 25px;
line-height: 1.3em;">Pricing</h1>

<p style="font-size: 20px;">Parse is entirely free during our private beta. After we come out of beta, our pricing will be as shown below*.</p>

<table>
    <tbody><tr>
        <th class="firstcol"></th>
        <th>Starter</th>
        <th>Basic</th>
        <th>Premium</th>
        <th>Pro</th>
        
    </tr>
    <tr>
        <td class="firstcol">Data Objects</td>
        <td>50,000</td>
        <td>100,000</td>
        <td>600,000</td>
        <td>2,000,000</td>
    </tr>

    <tr>
        <td class="firstcol">API Requests<br>per month</td>
        <td>200,000</td>
        <td>400,000</td>
        <td>2,500,000</td>
        <td>7,000,000</td>
    </tr>

    
    <tr>
        <td class="firstcol">Push Notifications<br>per month</td>
        <td>1,000,000</td>
        <td>2,000,000</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
    </tr>

    <tr>
        <td class="firstcol">Support</td>
        <td>Email</td>
        <td>Email</td>
        <td>
            Email
        </td>
        <td>
            Email
        </td>

    </tr>

    <tr class="price">
        <td class="blank" style="background:white"></td>
        <td>Free</td>
        <td>$9 <small>/ month</small>
        </td><td>$49 <small>/ month</small>
        </td><td>$99 <small>/ month</small>
        </td>
    </tr>
</tbody></table>

<h2>It's always free to get started. No credit card required.</h2>

<div class="signup">
        <a href="https://www.parse.com/users/new" class="button">Sign up for the Beta</a>
</div>

<small>* During the beta, if you go above the Starter usage allotments, you will not be charged. You will also be guaranteed these rates or better once we come out of beta.</small><br>
<small>* These prices don't cover PFFile/ParseFile storage &amp; bandwidth. We're working on that and hope to announce it soon. We don't expect them to deviate much from industry standards.</small>

	    


</div>
-->
<div style="margin-top:50px;text-align:center;-moz-text-shadow: 1px 1px 1px #fff;
-webkit-text-shadow: 1px 1px 1px #fff;
text-shadow: 1px 1px 1px white;">
<h1>Choose a Plan | 14-Day Money Back Guarantee</h1>
<h2 style="font-size:20px;">Send, Store and Share Your Files Anytime, From Anywhere</h2>
</div>
<div id="pricingTable">

	<div class="wrap">
		<div class="column-row">
			<div style="">
			<div class="column" id="planMax">
				<div class="header">
					<h2>Plus</h2>
					<h3>$19.99/month</h3>
				</div>
				<ul>
					<li><strong>100 GB</strong> storage</li>
					<li><strong>5 GB</strong> per upload</li>
					<li><strong>Unlimited</strong> Downloads/File</li>
					<li><strong>Unlimited</strong> Transfers</li>
					<li><strong>Fast</strong> Up/Downloads</li>
					<li>Enhanced Security</li>
				</ul>
				<p>
					<a class="blue-sub" href="#">Signup!</a>
				</p>
			</div>
		
					
			<div class="column" id="planBasic">
				<div class="header">
					<h2>Premium</h2>
					<h3>$9.99/month</h3>
				</div>
				<ul>
					<li><strong>20 GB</strong> storage</li>
					<li><strong>5 GB</strong> per upload</li>
					<li><strong>Unlimited</strong> Downloads/File</li>
					<li><strong>Unlimited</strong> Transfers</li>
					<li><strong>Fast</strong> Up/Downloads</li>
					<li>Enhanced Security</li>
				</ul>

				<p>
					<a class="blue-sub" href="#">Signup!</a>
				</p>
			</div>
		
			<div class="column" id="planBasic">
				<div class="header">
					<h2>Personal</h2>
					<h3>$4.99/month</h3>
				</div>
				<ul>
					<li><strong>5 GB</strong> storage</li>
					<li><strong>5 GB</strong> per upload</li>
					<li><strong>100</strong> Downloads/File</li>
					<li><strong>Unlimited</strong> Transfers</li>
					<li><strong>Fast</strong> Up/Downloads</li>
				</ul>
				<p>
					<a class="blue-sub" href="#">Signup!</a>
				</p>
			</div>


		
		
		
			<div class="column" id="planPersonal" style="border-left:1px solid #EEEAD3;">
				<div class="header">
					<h2>Free</h2>
					<h3>Free!</h3>
				</div>
				<ul>
					<li>1 GB storage</li>
					<li>150MB per upload</li>
					<li>30 Downloads/File</li>
 					<li>Standard Security</li> 
				</ul>




				
				<p>
					<a class="blue-sub" href="#">Signup!</a>
				</p>
			</div>


			<h1>Our Partners:</h1>


			<!-- Amazon S3, Heroku and Namespace -->

			<ul>
				<li>

				</li>


			</ul>

			<!-- Common Questions -->
				



		</div>
	</div>
</div>




</div>