

<style type="text/css" media="screen">

html, body {
background: #E8ECDC url(/assets/bg.png) repeat fixed;
}



</style>

<div class="masthead">
    <h1>30-day Free Trial on All Accounts.</h1>
    <h2>1,000 companies a week choose Basecamp. Sign up in just 60 seconds.</h2>
  </div>


<div style="margin-bottom:50px"></div>


<div id="pricingTable">
	<div class="wrap">
		<div class="column-row">
			<div class="column" id="planMax">
				<div class="header">
					<h2>Plus</h2>
					<h3>$19.99/month</h3>
					<p>Great for teams within large companies.</p>
				</div>
				<ul>
					<li><strong>100 GB</strong> storage</li>
					<li><strong>5 GB</strong> per file</li>
					<li><strong>Unlimited</strong> Downloads</li>
					<li><strong>Unlimited</strong> Transfers</li>
					<li><strong>Fast</strong> Up/Downloads</li>
					<li>Enhanced Security</li>
				</ul>
				<p>
					<a class="blue-sub" href="#">Signup!</a>
				</p>
			</div>
		
					
			<div class="column" id="planPlus">
				<div class="header">
					<h2>Premium</h2>
					<h3>$9.99/month</h3>
					<p>Most Popular Plan.</p>
				</div>
				<ul>
					<li><strong>20 GB</strong> storage</li>
					<li><strong>5 GB</strong> per file</li>
					<li><strong>Unlimited</strong> Downloads</li>
					<li><strong>Unlimited</strong> Transfers</li>
					<li><strong>Fast</strong> Up/Downloads</li>
					<li>Enhanced Security</li>
				</ul>
				<br>

				<p>
					<a class="blue-sub" href="#">Signup!</a>
				</p>
			</div>
		
			<div class="column" id="planBasic">
				<div class="header">
					<h2>Personal</h2>
					<h3>$4.99/month</h3>
					<p>Best bet for any<br> freelancer.</p>
				</div>
				<ul>
					<li><strong>5 GB</strong> storage</li>
					<li><strong>5 GB</strong> per file</li>
					<li><strong>50 GB</strong> Downloads</li>
					<li><strong>Unlimited</strong> Transfers</li>
					<li><strong>Fast</strong> Up/Downloads</li>
				</ul>
				<p>
					<a class="blue-sub" href="#">Signup!</a>
				</p>
			</div>


			<div class="column" id="planBasic" style="border-left:1px solid #EEEAD3;">
				<div class="header">
					<h2>Instant</h2>
					<h3>$1.99/time</h3>
					<p>Get the job <br> done.</p>
				</div>
				<ul>
					<li><strong>2 GB</strong> 14 Days Storage</li>
					<li><strong>2 GB</strong> per file</li>
					<li><strong>10 GB</strong> Downloads</li>
					<li><strong>Fast</strong> Up/Downloads</li>
					<li><strong>No</strong> Recurring billing </li>
				</ul>
				<p>
					<a class="blue-sub" href="#">Signup!</a>
				</p>
			</div>
		
		
			<div class="column" id="planPersonal" style="border-left:1px solid #EEEAD3;">
				<div class="header">
					<h2>Free</h2>
					<h3>Free!</h3>
					<p>Getting started is a breeze!</p>
				</div>
				<ul>
					<li>1 GB storage</li>
					<li>150MB per file</li>
					<li>2 GB Downloads</li>
<!-- 					<li>Standard Security</li> -->
				</ul>


				<div
				<p>
					<a class="blue-sub" href="#">Signup!</a>
				</p>
			</div>
		</div>
	</div>
</div>