








<h2>Send Your Files</h2>

<!--
	<table style="margin-bottom:0px;">
				<tbody><tr>
					<td style="vertical-align: middle;">
						<div class="drag-drop-show" style="color:#777777">
					<h2 style="margin-left:65px;margin-top:50px;color:#B7CFDF;font-size:200%;">Drag &amp; Drop Files Here</h2>				
						</div>
					</td>
				</tr>
			</tbody></table>
 -->
			<!--
<ul id="file_todo_list" class="file_list"></ul>
<span class="amount">10%</span>
<div id="overall"><span class="progress"></span><span id="status"></span></div>
<
-->
<div id="queue_size"></div>


<div style="width:494px;margin:auto;">



	<div class="widget" id="file_lists">
                    <div class="head"><h4>Send Your Files</h4></div>
                    <table cellpadding="0" cellspacing="0" width="100%" class="tableStatic">
                        <thead>
                            <tr>
                              <td id="upload_col1" width="60%">File Name</td>
                              <td id="upload_col2" width="30%">Size</td>
                              <td id="upload_col3"width="10%">Delete?</td>
                            </tr>
                        </thead>
                         <tbody id="file_done_list">
                           
      
                        </tbody>
                        <tbody id="file_todo_list">
                           
      
                        </tbody>

                    </table> 

                </div>

                <div class="upload_footer">

                <div id="upload_control_panel">
                	<ul>
                		<li>
                			<button class="cupid-green" onclick="s3_swf_1_object.startUploading();">Send!</button> 
                		</li>
                		<li>
                			<button class="minimal" onclick="s3_swf_1_object.clearQueue();">Clear Queue</button>
                		</li>
                	</ul>
                </div>


                <div id="overall_percentage">
                	<div class="progress-bar green stripes" id="overall-progress-bar" style="
                	width: 350px;height: 28px;padding-right:0px;float: left;">
                	<span style="width: 10%"></span>
                	</div>
	            	<div id="count" style="font-size: 22px;
font-weight: bold;
text-align: center;
color: #777;
padding-top: 6px;
float: left;
margin-left: 20px;
display:none">
	            		15%
	            	</div>
	            </div>



                <div id="upload_info" style="padding-top: 6px; padding-bottom: 10px; padding-left: 14px; margin-left: 240px; color:#777;"></div>


                </div>                               

</div> 












<%=raw s3_swf_upload_tag(
:fileTypes => '*.*',
:fileTypeDescs => 'All files.',
:onFileNotInQueue => "",
:onFileSizeLimitReached => "alert('That file is too big');",
:onQueueChange => "queueChangeHandler(queue);",
:onQueueSizeLimitReached => "alert('There are too many files in the queue');",
:onQueueEmpty => "alert('You gotta have at least one file in there');",
:onQueueClear => "queueClearHandler(queue);",
:onUploadingStart => "uploadingStartHandler();",
:onUploadingFinish => "uploadingFinishHandler();",
:onSignatureIOError => "alert('There was an error');",
:onSignatureXMLError => "alert('There was an error');",
:onSignatureSecurityError => "alert('There was an error');",
:onUploadError => "alert('There was an error');",
:onUploadIOError => "alert('There was an error');",
:onUploadSecurityError => "alert('There was an error');",
:onUploadProgress => "progressHandler(progress_event);",
:onUploadComplete => "uploadCompleteHandler(upload_options,event);",
:buttonWidth=>"81",
:buttonHeight=>"32"

) %>



</div>