
<style type="text/css" media="screen">

html, body {
background: #C0DEED;
}

.footer{
	margin-top:0px;
}


</style>



<section id="less">

<div id="term-body">

<div class="page-header" style="padding-top:0px;margin-top:0px;margin-bottom:20px;text-align:center;">
  <h1>Terms of Service</h1>
</div>

<p>
The Senditu.com Service Agreement describes the terms and conditions on which 42Zen, LLC(“we” or “our company”) offer services to you (“Customer” or “You”) through the website Senditu.com . By registering for or using Senditu.com services, Customer agrees to be bound by the following terms and conditions. IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF YOUR EMPLOYER OR OTHER LEGAL ENTITY, YOU MUST REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY, ITS AFFILIATES AND ALL USERS WHO ACCESS OUR SERVICES THROUGH YOUR ACCOUNT TO THESE TERMS AND CONDITIONS, IN WHICH CASE THE TERMS “YOU” OR “YOUR” SHALL REFER TO SUCH ENTITY, ITS AFFILIATES AND USERS ASSOCIATED WITH IT. IF YOU AND/OR YOUR COMPANY DO NOT AGREE TO THE TERMS OF AGREEMENT, OR IT YOU DO NOT HAVE SUCH AUTHORITY, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY NOT USE THE SERVICES.
</p>

<h3>
Services
</h3>

<p>
Subject to the terms and conditions of this Agreement, 42Zen, LLC makes certain Services available to Customers; 42Zen, LLC shall supply the Services to Customer and grant a personal and terminable license to use the Service from the date which Customer starts using the Services for the Subscription period based upon the level of Services Customer has requested. While some of the Services are free, other shall only be provided in exchange for a monthly subscription fee. The monthly fee will depend on the level of Services Customer has requested. For the purposes of this agreement: (a) “Customer” means the individual or business entity that is using or registering to use the Services, including its employees and agents; (b) “Subscription Period” means the period from the effective date until the Agreement is terminated in accordance with this Agreement.  (c) 42Zen, LLC “Service” means those interactive and electronic file transmission and sharing services which enable users to share, store and access user files via Senditu.com’s proprietary platform. 
</p>

<h3>
Account Terms
</h3>

<p>
1. Customer must provide a legal full name, a valid email address, and any other information requested in order to complete the signup process. Customer is responsible for maintaining the security of his/her account and password. 42Zen, LLC cannot and will not be liable for any loss or damage from Customer’s failure to comply with this security obligation. Customer is responsible for all Content posted and activity that occurs under his/her account. Customer may not use the Services for any illegal or unauthorized purpose.
</p>
<p>
2. Customer is solely responsible for maintaining the confidentiality of Customer access information, i.e. account ID’s and passwords of its Authorized Users, and is responsible for all activities that occur under Customer’s account.
</p>
<p>
3. Customer will immediately notify 42Zen, LLC if Customer notices any activity indicating that Customer’s account or data is being used without authorization.
</p

</ol>


<h3>
Ownership Terms
</h3>
<p>
1. You acknowledge that all materials (except those uploaded by users) provided on this Web site, including but not limited to information, documents, products, logos, graphics, sounds, images, software, and services (collectively "Materials"), are provided either by 42Zen, LLC or by their respective third party authors, developers and vendors (collectively "Third Party Providers") and the underlying intellectual property rights are owned by 42Zen, LLC and/or its Third Party Providers. Elements of the Web site are protected by trade dress and other laws and may not be copied or imitated in whole or in part. 42Zen, LLC, the 42Zen, LLC logo and other 42Zen, LLC products referenced herein are trademarks of 42Zen, LLC, and may be registered in certain jurisdictions. All other product names, company names, marks, logos, and symbols may be the trademarks of their respective owners. 
</p>

<p>
2. We claim no intellectual property rights over the material Customer stores on the Service. By sharing folders with others using email/link, customer agrees to allow others to view, download and share folders. Customer has sole responsibility for all files that are stored on Senditu.com servers through use of the services. Customer acknowledges and agrees that 42Zen, LLC will not be responsible for any failure of the services to store a user file, for the deletion of a user file stored on the services, or for the corruption of or loss of any data, information or content contained in a Customer’s file. 
</p>


<h3>
Payment Terms
</h3>
<p>
An upgrade from the free plan to any paying plan will immediately bill the Customer upon accepting a valid credit card.  The Service is billed in advance on a monthly basis and is refundable in a limited period of time (within first 15 days after the initial upgrading). In order to treat everyone equally, no exceptions will be made. For any upgrade or downgrade in plan level, your credit card that you provided will automatically be charged the new rate on your next billing cycle. All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties, excluding only United States (federal or state) taxes. Downgrading your Service may cause the loss of Content, features, or capacity of your Account. 42Zen, LLC does not accept any liability for such loss.
</p>

<h3>
Email
</h3>

<p>
We may communicate with users from time to time via email to send information about important changes to our products and services, and to send notices and other disclosures required by law. By providing your email address, you agree to these communications, but they will be primarily informational in nature rather than promotional and will be strictly limited in number. We follow a strict no-spam policy.
</p>

<h3>
Cancellation and Termination Terms
</h3>

<p>
1. You are solely responsible for properly canceling your account. An email or phone request to cancel your account is not considered cancellation. You can cancel your account at any time by clicking on the Account link in the global navigation bar at the top of the screen. The Account screen provides a simple no questions asked cancellation link. If you cancel the Service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again. All of your Content will be immediately deleted from the Service upon cancellation. This information cannot be recovered once your account is cancelled. 
</p>

<p>
2. Without limiting other remedies, 42Zen, LLC may immediately issue a warning, suspend (i.e., lock out access and operation of Services for Customer) either temporarily or indefinitely, or terminate Customer's account and refuse to provide Services to Customer if: (a) 42Zen, LLC believes that Customer have violated or acted inconsistently with this Agreement, or any of our policies; or (b) Customer have failed to pay fees or other payments due to 42Zen, LLC; or (c) 42Zen, LLC is unable to verify or authenticate any information Customer provides to 42Zen, LLC; or (d) 42Zen, LLC believes that Customer's actions may cause legal liability for Customer, 42Zen, LLC's other clients, or 42Zen, LLC. 42Zen, LLC may also in its sole discretion and at any time discontinue providing the Service, or any part thereof, with or without notice. You agree that any termination of your access to the Service under any provision of these terms and conditions may be effected without prior notice, and acknowledge and agree that 42Zen, LLC may immediately deactivate, archive or delete your account and all related information and data and/or any further access to such data or the Service. Further, you agree that 42Zen, LLC shall not be liable to you or any third-party for any termination of your access to the Service.
</p>


<h3>
Modifications to the Service and Prices
</h3>

<p>
We reserve the right to change this Service Agreement at any time without notice. We also reserve the right at any time to modify or discontinue the Service, temporarily or permanently, with or without notice to you. You agree that we shall not be liable to you or any third party for any modification, suspension or discontinuance of the Service. You acknowledge that we may establish general practices and limits concerning use of the Service, including the maximum disk space that will be allotted on 42Zen, LLC's servers on your behalf, and the maximum number of times (and the maximum duration for which) you may access the Service in a given period of time. Further, you acknowledge that 42Zen, LLC may change subscription fees at any time without notice. Changes in subscription fees will take effect on expiration of any existing Customer subscription. 
</p>


<h3>
Copyright Infringement and DMCA Policy
</h3>


<p>
As 42Zen, LLC asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by Senditu.com violates your copyright, you are encouraged to notify 42Zen. 42Zen, LLC will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. 42Zen, LLC will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of 42Zen, LLC or others. In the case of such termination, 42Zen, LLC will have no obligation to provide a refund of any amounts previously paid to 42Zen, LLC.
	
</p>


<h3>
 No Warranty 
</h3>

<p>
You expressly understand and agree that: (a) your use of the Service is at your sole risk. 42Zen, LLC Services are provided on an "as is" and "as available" basis. 42Zen, LLC and its suppliers, to the fullest extent permitted by law, disclaim all warranties, including but not limited to warranties of title, fitness for a particular purpose, merchantability and non-infringement of proprietary or third party rights. 42Zen, LLC and its suppliers make no warranties about the accuracy, reliability, completeness, or timeliness of our Services, software, or content; (b) 42Zen, LLC makes no warranty that (i) the Service will meet your requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the Service will meet your expectations, and (v) any errors in the software will be corrected; (d) any material downloaded or otherwise obtained through the use of the Service is done at your own discretion and risk and that you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material; (e) no advice or information, whether oral or written, obtained by you from us or through or from the Service shall create any warranty not expressly stated in these terms and conditions. 
</p>

<h3>
Indemnity
</h3>

<p>
You agree to defend, indemnify, and hold harmless 42Zen, LLC, its affiliates, officers, directors, employees and agents, from and against any claims, actions or demands, including without limitation reasonable legal fees, alleging or resulting from your use the Service, or your breach of this Agreement or other 42Zen, LLC policies, terms and conditions.

</p>


<h3>
Limitation of Liability
</h3>


<p>
Your use of Senditu is at your own risk. If you are dissatisfied with any aspect of our Service or with these terms & conditions, or any other rules or policies, your sole remedy is to discontinue use of the Service. You expressly understand and agree that Senditu shall not be liable for any direct, indirect, incidental, special, consequential exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if we have been advised of the possibility of such damages), resulting from: (I) the use or the inability to use the Service; (II) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the Service; (III) unauthorized access to or alteration of your transmissions or data; (IV) statements or conduct of any third party on the service; or (V) any other matter relating to the Service.
</p>

<h3>
General Conditions
</h3>


<p> 
1.	Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available” basis.
</p>

<p>
2.	Technical support is only provided to paying account holders and is only available via email. 
</p>

<p>
3.	You understand that 42Zen, LLC uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.
</p>

<p>
4.	If your bandwidth usage significantly exceeds the average bandwidth usage (as determined solely by 42Zen, LLC) of other 42Zen, LLC customers, we reserve the right to immediately disable your account until you can reduce your bandwidth consumption.
</p>


<p>
5.	42Zen, LLC does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.
</p>


<p>
6.	The failure of 42Zen, LLC to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and 42Zen, LLC and govern your use of the Service, superseding any prior agreements between you and 42Zen, LLC (including, but not limited to, any prior versions of the Terms of Service). You agree that these Terms of Service and Your use of the Service are governed under Delaware law.
</p>


<p>
7.	Questions about the Terms of Service should be sent to support@senditu.com 
</p>





</div>

</section>