
<style type="text/css" media="screen">

html, body {
background: #CED1D4;
}

.footer{
	margin-top:0px;
}

p{
	padding-bottom: 10px;
font-size: 14px;
line-height: 22px !important;
color: #333 !important;
width: 80%;


}


</style>


<div style="margin-bottom:500px;"></div>
