
<style type="text/css" media="screen">

html, body {
background: #C0DEED;
}

.footer{
	margin-top:0px;
}

p{
	padding-bottom: 10px;
font-size: 14px;
line-height: 22px !important;
color: #333 !important;
width: 80%;


}


</style>



<section id="less" style="padding:10px 20px 20px 20px">


<div class="about-heading">
<h3>Technology</h3>
</div>

<div class="row show-grid">
    <div class="span3">
<ul class="nav pills stacked" style="width: 100%;">
        <li><a href="/pages/about">About 42Share</a></li>
        <li><a href="/pages/contact_us">Contact us</a></li>
        <li><a href="#">Support</a></li>
        <li class="active"><a href="#">Technology Vendors</a></li>
      </ul>

    </div>
    <div class="span13">
    	<h1 style="color: #404040;
font-family: arial,sans-serif;
font-weight: 200;
font-size: 25px;">We team up with the following partners to power 42Share</h1>


<ul class="partner-list">

    <li>
        <img border="0" alt="aws" src="/assets/aws_logo.gif">
    </li>

    <li>
        <img border="0" alt="sendgrid" src="/assets/sendgrid_logo.png">
    </li>

    <li>
        <img border="0" alt="cogent" src="/assets/cogent.jpg">
    </li>

    <li>
        <img border="0" alt="comcast" src="/assets/comcast.jpg">        
    </li>

    <li>
        <img border="0" alt="redhat" src="/assets/redhat-logo1.jpg">
    </li>

    <li>
        <img border="0" alt="solaris" src="/assets/solaris_logo.png">
    </li>

    <li>
        <img border="0" alt="mysql" src="/assets/mysql-logo.jpg">        
    </li>

    <li>
        <img border="0" alt="oralogo" src="/assets/oralogo-small.gif">
    </li>

    <li>
        <img border="0" alt="apache" src="/assets/apache_software_foundation_logo_3074.gif">
    </li>

    <li>    
         <img border="0" alt="microsoft" src="/assets/microsoft-logo.jpg">       
    </li>

    <li>
         <img border="0" alt="akamai" src="/assets/akamai.gif">       
    </li>

    <li>
         <img border="0" alt="heroku" src="/assets/heroku.jpg">       
    </li>





</ul>









    </div>


</section>