/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.action_button{
	position: relative;
	overflow: visible;
	display: inline-block;
	padding: 0.3em 0.8em;
	border: 1px solid #D4D4D4;
	margin: 0;
	text-decoration: none;
	text-shadow: 1px 1px 0 white;
	font: 11px/normal sans-serif;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	-o-background-clip: padding-box;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	zoom: 1;
	border-image: initial;	


}

.action_button.danger:hover, .action_button.danger:focus, .action_button.danger:active {
border-color: #B53F3A;
border-bottom-color: #A0302A;
color: white;
background-color: #DC5F59;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
background-image: -moz-linear-gradient(#dc5f59, #b33630);
background-image: -o-linear-gradient(#dc5f59, #b33630);
background-image: linear-gradient(#dc5f59, #b33630);
}


.action_button:hover, .action_button:focus, .action_button:active {
border-color: #3072B3;
border-bottom-color: #2A65A0;
text-decoration: none;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
color: white;
background-color: #3072B3;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
background-image: -moz-linear-gradient(#599bdc, #3072b3);
background-image: -o-linear-gradient(#599bdc, #3072b3);
background-image: linear-gradient(#599bdc, #3072b3);
}


.action_button.trash.action_icon:hover::before, .action_button.trash.action_icon:focus::before, .action_button.trash.action_icon:active::before {
background-position: -12px -336px;
}

.action_button.trash.action_icon::before {
background-position: 0 -336px;
}


.action_button.action_icon::before {
content: "";
position: relative;
top: 1px;
float: left;
width: 12px;
height: 12px;
margin: 0 0.75em 0 -0.25em;
background: url('/assets/gh-icons.png') 0 99px no-repeat;
}

#upgrade_link{
	color:white;
	text-decoration:underline;

}


.landing-description h4{
	color:#3AD;
	margin-top:12px;
	font-size:25px;

}

.tiptip{

margin: 0px 0;
padding: 10px;
font-size: 12px;
color: #333;
background: #FBFFCE;
border: 1px solid #DEEA53;
border-right-color: #EFF2C7;
border-bottom-color: #EFF2C7;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;

}

.fileupload-content{
border-style: dashed!important;
border-width: 2px!important;
vertical-align: middle;
height: 100%;
width: 100%;
margin:auto;
background: transparent;
}

.content {
background-color: white;
padding: 20px 20px 0px 20px;
margin: 0 -20px;
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
box-shadow: 0 1px 2px rgba(0,0,0,.15);
margin-left:1px;
width:680px;
margin-top:26px;
margin-left:46px;
float:left;
position:relative;
}


.page-header {

padding: 20px 0px 0px;
margin: 20px 0px 0px;
}

.files_pic{
	opacity:0.1;

	background: url('/assets/Files.png') top center no-repeat;
	background-size:100px 100px;
	position:absolute;
	width: 100px;
height: 85px;
left:380px;
top:10px;
z-index:1;

}


.senditnow{
	opacity:0.1;

	background: url('/assets/senditnow.png') top center no-repeat;
	background-size:100px 100px;
	position:absolute;
	width: 100px;
height: 85px;
left:380px;
top:10px;
z-index:1;

}



.custom-form{
	width: 560px;
	margin:auto;
	margin-top:90px;
}

#xlInput_addTag input{
	width:148px;	
}


.logo{
	background-image: url("/assets/cloud.png");
	width: 30px;
	background-size: 30px 30px;	
}

.subject-field1{
	display:none;	
}
.subject-field2{
	display:none;	
}


.password-block{
	margin-left:17px;
	margin-top:5px;
	display:none;
}

.product-callout{
	margin-top:20px;


}
.product-callout .product {
float: left;
width: 220px;
margin: 0 10px;
margin-top:19px;
background-repeat: no-repeat;
padding-left: 123px;
background-position: 0px 0px;
}

#main-console{
	
width: 1050px;
text-align: left;
margin-top:-6px;

}

#left_nav {
font-size: 15px;
width: 165px;
float: left;
margin-left: 0;
}

#left_nav ul {
display: block;
}
.newsend a {
	display: block;
	font-size: 12px;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	font-family: arial,sans-serif;
	line-height: 20px;
}

.newsend a:hover{
	color: white;
	text-decoration: none;
}


#left_nav > ul > li a {
padding: 10px;
padding-left: 35px;
font-weight: 450;
display: inline-block;
width: 100%;
height: 100%;
width: 110px;
color: #555;
}


.newsend{
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	border: 1px solid #3079ED;
	color: white;
	float:left;
	margin-left:0px;
	margin-bottom:15px;
}

.newsend:hover{
  background: #357AE8;
  color: white;
  
}




#left_nav ul li.transfers > a {
background: url('/assets/transfers.png') 0 8px no-repeat;
}

#left_nav ul li.received > a {
background: url('/assets/received.png') 0 8px no-repeat;
}

#left_nav ul li.account > a {
background: url('/assets/account.png') 0 8px no-repeat;
}


#left_nav ul li.faq > a {
background: url('/assets/faq.png') 0 8px no-repeat;
}


#left_nav ul li.pricing > a {
background: url('/assets/pricing.png') 0 8px no-repeat;
}

#left_nav ul li.support> a {
background: url('/assets/support.png') 0 8px no-repeat;
}



#left_nav ul li.security> a {
background: url('/assets/security.png') 0 8px no-repeat;
}

.viewpane{
	width:100%;
	float:left;
	-moz-box-sizing: border-box;
    background-color: #FFFFFF;
    overflow: hidden;
    padding-top:0px;
    margin-top:0px;
    min-height:550px;
}

.viewpane-content{
    border-left:1px solid #E6F1F6;
    border-right:1px solid #E6F1F6;

}

#main_table tbody.scrollable{
	height:590px; 
	overflow:auto;

}



.viewpane-content th{
	text-align:left;
	border-bottom:none ;
}

.viewpane-content th:first-child{
	padding-left:32px;	
}
.viewpane-content td:first-child{
	text-align:left;	
}

.viewpane-content tr td{
	padding-bottom:10px;
	text-align:left;	
	border-bottom:1px solid #E6F1F6;
}

.viewpane-content tr#header{
	background-color:#E6F1F6;
}


#my-tab-content{
	min-height:470px;
}


div#pricingTable {
background: white;
margin: 18px 0 36px;
padding: 0;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
position: relative;
width:100%;
margin:auto;
margin-bottom:20px;
border: 1px solid #DDD;
}


div#pricingTable div.wrap {
padding: 0;
border-top: 1px solid white;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}

div#pricingTable div.column-row {
margin: 0;
}
.column, .columns {
float: left;
display: inline;
margin: 0px 0px 0px 20px;
position: relative;
}

.column-row, .clearfix {
display: block;
}

.column-row::after, .clearfix::after {
content: '.';
display: block;
height: 0px;
clear: both;
visibility: hidden;
}


div#pricingTable div.column {
width: 236px;
height: 265px;
margin: 0;
}




div#pricingTable div.column * {
text-align: center;
}


div#pricingTable ul {
margin: 0px 0px 38px 18px;
padding: 0;
list-style: none;
width:80%;

}

div#pricingTable strong{
	color:#009694;
	font-size:120%;
}	

#planPlus ul{
	
	margin-left:0px;
}

div#pricingTable li {
font-size: 13px;
line-height: 22px;
border-top: 1px solid white;
border-bottom: 1px solid #EEEAD3;
color: #777;
}



div#pricingTable h2 {
margin: 0;
padding: 16px 0 0;
font-size: 30px;
line-height: 1.2;
margin: 0px;
letter-spacing: -1px;
color: #333;
font-weight: bold;
}

div#pricingTable h3 {
margin: 0;
padding: 0 0 5px;
font-size: 18px;
font-weight: normal;
color: #999;
}

div#pricingTable p {
line-height: 18px;
margin: 0px 0px 18px;
}

div#pricingTable div.header p {
font-weight: bold;
line-height: 16px;
margin: 5px 10px 0;
color: rgba(0, 0, 0, .75);
}

div#pricingTable div#planPremium, div#pricingTable div#planBasic {
background: white;
}

div#pricingTable div#planPlus {
background: white;
width: 176px;
margin: 0 0 -36px;
padding: 9px 20px;
position: relative;
top: -18px;
z-index: 5;
border: 5px solid #45BCE6;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;

-moz-box-shadow: 0 0 15px #BBB;
-webkit-box-shadow: 0 0 15px #BBB;
box-shadow: 0 0 15px #BBB;
}

div#pricingTable div#planPersonal{
	width:250px;

} 


.pressit{
	margin-bottom:30px;

}

.blue-sub {
border: none;
border-top: 1px solid #50BEDD;
background: #45BCDE;
background: -webkit-gradient(linear,left top,left bottom,from(#45BCDE),to(#43BADD));
background: -webkit-linear-gradient(top,#45BCDE,#43BADD);
background: -moz-linear-gradient(top,#45BCDE,#43BADD);
background: -ms-linear-gradient(top,#45BCDE,#43BADD);
background: -o-linear-gradient(top,#45BCDE,#43BADD);
padding: 5px 14px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: rgba(150,150,150,1) 0 1px 0;
-moz-box-shadow: rgba(150,150,150,1) 0 1px 0;
box-shadow: rgba(150,150,150,1) 0 1px 0;
text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
color: white!important;
font-size: 13px;
font-family: Helvetica,Arial,Sans-Serif;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
font-size: 12px;
padding: 10px 18px;
}

.blue-sub:hover{
	
text-decoration: none;
background:#50BEDD;


}


div.masthead {
margin: 0px auto;
padding: 20px 0px 0px;
text-align: center;
width: 100%;
font-family: "BaskervilleFSRegular", serif;
margin-top:30px;
}

div.masthead h1 {
margin-left:0px;
padding: 5px 0px 0px;
letter-spacing: -1px;
font-size: 36px;
position: relative;
color: #333;
font-weight: bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


div.masthead h2 {
color: #444;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
font-weight: normal;
letter-spacing: 0px;
margin: 0px;
}

.fileupload-progressbar{
	margin-bottom:10px;

}

	


#fileupload-progress{
	margin-top:2px;
	margin-left:15px;
}


.signup_content{
	border: 1px solid #EDEDED;
padding: 19px 19px 0 19px;
width: 96%;
margin: 20px auto;
background-color: white;
overflow:hidden;

}


div.callout-container {
background: #E6E6E6;
padding: 30px 0 30px 30px;
border: 1px solid #D9D9D9;
margin-bottom: 20px;
width: 96%;
}

div.signup_left{
	padding-bottom:20px;
	width: 500px;
	float: left;
	margin-right: 20px !important;
	padding-left:30px;

}


.signup_left label{
	text-align:left;
}

.signup_left h2{
	margin-bottom:10px;
}

.signup_right{
	width: 300px;
	float: left;
}
.signup_right ul{
	list-style:circle;
	margin-left:20px;


}
.signup_right ul li{
	color:#404040;


}

.personal_summary{
	display:none;

}

.instant_summary{
	display:none;

}

.premium_summary{
	display:none;

}

.plus_summary{
	display:none;

}

#upload_left{
	float:left;
}

#upload_right{
	float:left;
}

.container_information{
	padding-left:20px;
	width:395px;
	float:left;
}


.link_box {
width: 93.5%;
padding: 10px 10px 0;

height: 23px;
margin-bottom: 10px;
font-size: 12px;
color: #333;
padding: 10px;
background: #FAFAFA;
border: 1px solid #DDD;

-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
border-image: initial;
}
.folder_password_form{
	margin:auto;
	margin-top:100px;
	height:120px;
	width:300px;
	padding: 2em;
	background-color: #F9F9F9;
	overflow: hidden;
	border-style: solid;
	border-width: 1px 1px 2px;
	border-color: #E9F1F4 #D8DEE2 #D8DEE2;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;

}


.success_form{
	margin: auto;
	margin-top: 100px;
	width: 400px;
	border: 1px solid #D8DEE2;
	padding-left: 250px;
	padding-bottom: 20px;
	border-image: initial;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.success_form h2{
	margin-left: 30px;
}




.sidebar{-webkit-box-shadow:3px 0 0 rgba(0, 0, 0, 0.05);-moz-box-shadow:3px 0 0 rgba(0, 0, 0, 0.05);box-shadow:3px 0 0 rgba(0, 0, 0, 0.05);-webkit-box-shadow:3px 0 0 rgba(0, 0, 0, 0.05);-moz-box-shadow:3px 0 0 rgba(0, 0, 0, 0.05);box-shadow:3px 0 0 rgba(0, 0, 0, 0.05);width:157px;float:left;margin-left:10px;min-height:200px;}
.sidebar h3{margin-top:25px;margin-bottom:5px;}
.sidebar h3:first-child{margin-top:0;}
.sidebar ul{list-style:none;margin:0;padding:0;}
.sidebar ul li a{


border:1px solid transparent;border-right:0;color:#666;display:block;line-height:30px;font-size:12px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-topright:0;-moz-border-radius-bottomright:0;-moz-border-radius-bottomleft:3px;-moz-border-radius-topleft:3px;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:3px;border-top-left-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-topright:0;-moz-border-radius-bottomright:0;-moz-border-radius-bottomleft:3px;-moz-border-radius-topleft:3px;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:3px;border-top-left-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;color: #4183C4;}
.sidebar ul li a:hover{background:#F1F1F1;color: #4183C4;margin-left:-10px;padding-left:10px;text-decoration:none;}


.sidebar ul li.active a{background:#ebebeb;color:#333;margin-left:-10px;padding-left:10px;border:1px solid #D9D9D9;border-right:0;text-shadow:0 1px 0 #fff;}
.sidebar ul li.subtle a{color:#DB7D7E;}
.sidebar ul li.subtle a:hover{color:#DB3939;}

table.plan_table{

	width:85%;
	float:left;
	border-top:1px solid #D8D8D8;

}

table.plan_table tr{
	height:40px;
}



table.plan_table th{
	color:#666;
font-size: 11px;
font-weight: normal;
text-align: center;
padding-top:6.5px;
}

table.plan_table tr:first-child{
color:#666;
font-size: 6px;
font-weight: normal;
text-align: center;
height:4px;

}

table.plan_table th:first-child{
	text-align:left;
	padding-left:30px;
}

table.plan_table td:first-child{
	text-align:left;
	font-weight: bold;
	color:#666;
	padding-left:30px;
}	





table.plan_table td{
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	color:#333;
	font-weight: bold;
	height:25px;	
}

#plans{
	margin-left:100px;
}

#change_password{
	padding-left:30px;
	margin-left:170px;
	padding-top:5px;
	width:75.5%;
	border-top:1px solid #D8D8D8;
}

#change_email{
	padding-left:30px;
	margin-left:170px;
	padding-top:5px;
	width:75.5%;
	border-top:1px solid #D8D8D8;
}
#notifications{
	padding-left:30px;
	margin-left:170px;
	padding-top:5px;
	width:75.5%;
	border-top:1px solid #D8D8D8;
}



.stats { display:none; height:100px;margin-top:0px;}
.stats ul { }
.stats ul li {display: block; float: left;width: 195px;margin-left:15px; }
.stats ul li:first-child { margin: 0;margin-right:20px;}
.stats ul li span { color: #666; font-size: 16px; display: block; vertical-align: middle; white-space: normal; }
.count { font-size: 26px; height: 40px; display: inline-block; line-height: 41px; padding: 0 10px; margin-right: 10px; }

.stats ul li a{
	padding-left:0px;
	text-decoration:none;
}

a#show_hide_stats:visited{
	color:#0069D6;
}



.stats a{
	margin-left:0px;
	padding-top:3px;
}

.stats span a{
	margin-left:5px;
	font-size:90%;
	color:#B55D5C;

}



.jbar{
    height:50px;
    width:100%;
    position:fixed;
    text-align:center;
    left:0px;
    z-index:9999999;
    margin:0px;
    padding:0px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=92); 
    opacity: 0.92;
    -moz-opacity: 0.92;
    -moz-box-shadow: #555 0px 0px 5px;
    box-shadow: #555 0px 0px 5px;
    background:#82C85D;
    border-bottom:1px solid #66B33D;
    color:white;
}

.jbar-top{
    top:0px;
}

.jbar-bottom{
    bottom:0px;
}

.jbar-content{
    line-height:46px;
    font-size: 18px;
}

.jbar-top a.jbar-cross{
    top:8px;    
}

.jbar-bottom a.jbar-cross{
    bottom:8px;
}

.percent {
position: relative;
margin-right:50px;
text-align: right;
font-size: 11px;
display:none;
}

#copy{
	margin-left:10px;
	color:#3190D3;
	padding-top:10px;
}
.basicBtn {
background: url('/assets/basicBtn.png') repeat-x 0 0;
border: 1px solid #D5D5D5;
color: #525252;
border-image: initial;
font-size: 10px;
font-weight: bold;
text-transform: uppercase;
padding: 5px 14px 4px 14px;
cursor: pointer;
font-family: Arial, Helvetica, sans-serif;
line-height: 10px;
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-indent: 0px;
text-shadow: none;
display: inline-block;
-webkit-appearance: push-button;
white-space: pre;
-webkit-box-align: center;
text-align: center;
}

.basicBtn:hover {
background-position: 0 -25px;
border-color: #C9C9C9;
}

#input_button_container{
	margin-top: 20px;
	padding-left:185px;
	padding-bottom:0px;
}

#real_input_button_container{
	position:absolute;
	top:-100px;
}

.widget {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background:#FDFDFD;
    border-color: -moz-use-text-color #D5D5D5 #D5D5D5;
    border: 1px solid #D5D5D5;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    clear: both;
    display: block;
	min-height:200px;
	border-bottom:none;
}


.head {
background: #EFEFEF url("/assets/leftNavBg.png") repeat-x;
height: 38px;
border-top: 1px solid #D5D5D5;
border-bottom: 1px solid #D5D5D5;
position: relative;

}

.widget .head h4, .table h4 {
float:left;
margin-left:10px;
margin-top:3px;
color: #395069;
}


.tableStatic tbody tr {
border-bottom: 1px solid #EBEBEB;
background-color: white;
}


.tableStatic thead td {
padding: 3px 0px 5px 10px;
text-align: left;
background: #EFEFEF url("/assets/leftNavBg.png") repeat-x;
font-size: 11px;
color: #878787;
border-bottom: 1px solid #EBEBEB;

}


.tableStatic thead td:last-child{
	padding: 3px 0px 5px 0px;	
}


.tableStatic tbody tr{
padding: 10px 10px;
vertical-align: middle;
border-bottom: 1px solid #EBEBEB;
background:whiteSmoke;
} 

.tableStatic tbody td{
padding-bottom:10px;
border-bottom: 1px solid #EBEBEB;
 
}


.progress-bar {
border: 1px solid #C4C8CC;
height: 15px;
background-color: #434547;
background-image: -webkit-gradient(linear, left top, left bottom, from(#e6ebf0), to(#f0f5fa));
background-image: -webkit-linear-gradient(top, #e6ebf0, #f0f5fa);
background-image: -moz-linear-gradient(top, #e6ebf0, #f0f5fa);
background-image: -ms-linear-gradient(top, #e6ebf0, #f0f5fa);
background-image: -o-linear-gradient(top, #e6ebf0, #f0f5fa);
background-image: linear-gradient(top, #e6ebf0, #f0f5fa);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6ebf0', EndColorStr='#f0f5fa');
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
-moz-box-shadow: 0px 1px 0px #fff;
-webkit-box-shadow: 0px 1px 0px #fff;
box-shadow: 0px 1px 0px #fff;
width: 100%;
position: relative;
border-image: initial;
display:none;
}



.stripes span {
-webkit-background-size: 10px 10px;
-moz-background-size: 10px 10px;
background-size: 10px 10px;
-webkit-animation: animate-stripes 3s linear infinite;
-moz-animation: animate-stripes 3s linear infinite;
}

.green span {
background-color: #A5DF41;
}


.blue span {
background-color: #34C2E3;
}
.progress-bar span {
display: inline-block;
height: 100%;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
-webkit-transition: width .4s ease-in-out;
-moz-transition: width .4s ease-in-out;
-ms-transition: width .4s ease-in-out;
-o-transition: width .4s ease-in-out;
transition: width .4s ease-in-out;
float:left;
}

.upload_footer{
	font-weight: normal;
	background: #EFEFEF url('/assets/leftNavBg.png') repeat-x;
	float:bottom;
	border-right: none;
	padding: 5px;
	height:30px;
	border-color: -moz-use-text-color #D5D5D5 #D5D5D5;
    border: 1px solid #D5D5D5;
}



.footer ul{
	height:20px;

}

.footer ul li{
	display: inline;
padding: 0 7px 0 10px;
margin-right:20px;
}

.footer ul li a{
	font-size:13px;
}


button.cupid-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -ms-box-shadow: inset 0 1px 0 0 #96ca6d;
  -o-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px; 
  height: 31px;
}
  button.cupid-green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
    -o-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
  button.cupid-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }



button.minimal {
background: #E3E3E3;
border: 1px solid #BBB;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
-ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
-o-box-shadow: inset 0 0 1px 1px #f6f6f6;
box-shadow: inset 0 0 1px 1px #f6f6f6;
color: #333;
font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
line-height: 1;
padding: 8px 0 9px;
text-align: center;
text-shadow: 0 1px 0 white;
width: 150px;
border-image: initial;
height:31px;
}

  button.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -ms-box-shadow: inset 0 0 1px 1px #eaeaea;
    -o-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; }
  button.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -ms-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -o-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }



    #upload_control_panel{
    	width:300px;	
   		display:block;
    }


    #upload_control_panel ul{
    	list-style:none outside none;
		margin:0;
		padding:0;
    }

    #upload_control_panel ul li{
    	float:left;
		position:relative;
    }

    #upload_control_panel ul li button{
    	width:100px;
    	margin-right:10px;
    }

div#wrapper {width:800px;margin:0px auto;text-align:left;}

ul.file_list {font-size:130%;}
ul.file_list li {height:20px;line-height:20px;position:relative;padding: 5px 5px 5px 10px;}



ul.file_list li span.progress {display:block;position:absolute;background:transparent;text-align:right;}
ul.file_list li span.progress span.amount {padding-right:10px;color:#DFFFE3;font-weight:bold;}

span.file_name {display:block;position:absolute;left:15px;font-size:13px;color:#395069;}
span.file_size {display:block;position:absolute;left: 340px;font-size:13px;color:#395069;}

span.delete {width:16px;height:16px;display:block;cursor:pointer;background:url('/assets/trash.png') no-repeat;float:left;}

ul#file_done_list li span.progress {width:100%;border-right:0;}


div#overall {height:16px;position:relative;margin: 0px;width:100%; text-align: left;flo}
div#overall span.progress {border: 1px solid #AED0EA;background: url(/assets/pbar.png) repeat-x;color: #fff;font-weight: bold;
margin: 0px;
height: 100%;
overflow: hidden;
border-image: initial;}
span.amount {position: relative;
margin-right: 50px;
text-align: right;
font-size: 11px;
display: none;
}


.single_progress{
	border: 1px solid #AED0EA;background: url(/assets/pbar.png) repeat-x;color: #fff;font-weight: bold;
margin: 0px;
height: 100%;
overflow: hidden;
border-image: initial;
}


div#overall span#status {text-align:center;display:block;width:100%;font-weight:bold;color:#aaa;position:absolute;}



.capacity_show{
	padding-top:50px;
	padding-left:77px;
}


.capacity_show h4{
	color:#d8d8d8;
}
.capacity_show a{
	opacity:0.6;
}

.separate{
	margin: 0px 0;
	margin-top:5px;
	height: 0;
	overflow: hidden;
	border-bottom: 1px solid #EEE;
	width:100%;
	padding:0 13px;
	padding-top:5px;
	margin-left: -13px;
}

.payment-form label{
	color:#333;
	font-weight:bold;
}

.cards{
	height:25px;
}

ul.cards li{
	list-style-type:none;
}

.card{
	float:left;
	width:32px;
	height:32px;
	text-indent:-9999px;
}

.visa{
	background-image:url('/assets/visa.png');
}


.american_express{
	background-image:url('/assets/american_express.png');	
}

.master{
	background-image:url('/assets/mastercard.png');
}

.discover{
	background-image:url('/assets/discover.png');	
}

.jcb{
	background-image:url('/assets/jcb.png');	
}

.upgrade_button{
	padding-top:0px;
	text-decoration:none;
	height:19px;
}

#billing_history{
	padding-left: 30px;
	margin-left: 170px;
	padding-top: 5px;
	width: 75.5%;
	border-top: 1px solid #D8D8D8;
}


#billing_history table tbody tr th:first-child{
	padding-left:0px;
}

#billing_history table tbody tr td:first-child{
	padding-left:0px;
	color:#0068DE;
}

#billing_history table tbody tr td{
	border-bottom: 1px solid #F8F8F8;
	padding-bottom:5px;
	padding-top:5px;	
	display: table-cell;
	color:#999;

}

#iwantmymoneyback{
	float: left;
	padding-left: 15px;
	padding-top: 10px;
}

#iwantmymoneyback a{
	color:#4183C4;
}


#result-refinement{
	padding: 6px 0 2px;
	height:30px;
}

#sort-by{
	float:left;
}

#sort-text{
	float:left;
}

#sort-button{
	padding-left:5px;
	float:left;	
	margin-bottom:5px;
}

#loader-div{
	position:absolute;
	margin-left: 580px;
	margin-top: 50px;
	display:none;
}

#clear-all{
	float:right;
}



#dynamic_folder_display{
	min-height:500px;

}


ol li{
	color:#333;	
}

#less{

margin-top:40px;
background-color: white;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
padding: 0 40px;
font: normal 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}



#term-body{
	padding: 15px;

}


.item{
	width: 100%;
	min-height: 128px;
}

.plugin-image{
	background-color: transparent;
	padding-bottom: 0px;
	float: left;
	height:128px;
}

.plugin-list{
	

}


.features ul{
	font-size: 21px;
	padding: 20px 0px 0px 0px;
}

.features ul li{
		line-height: 32px;
	padding-left:40px;
	clear: both;
	color: #75AB2F;
	text-shadow: 0px 1px 0px #D8EBBD;
	background: url('/assets/front_check.png') no-repeat;
}


.signup-button {
display: inline-block;
padding: 15px 35px;
color: #BED7E1;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
font-size: 12px;
background: -webkit-gradient(linear, left top, left bottom, from(#00ADEE), to(#0078A5));
background: -moz-linear-gradient(top, #00ADEE, #0078A5);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
border: 1px solid #51A0B3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
box-shadow: 0 1px 4px rgba(0,0,0,0.3);
-webkit-font-smoothing: antialiased;
border-image: initial;
text-align:center;
}


a.signup-button:hover {
text-decoration: none;

}


.signup-button strong {
display: block;
color: white;
font-size: 20px;
}

.call_to_action{
	margin-top:57px;
	padding-left:10px;	
}

.call_to_action a{
font-size: 14px;
line-height: 18px;
text-decoration:underline;
}



.pricing_area p {
font-size:20px;
}

.pricing_area small {
font-size:12px;
color:#0067ab;
}

.pricing_area table {
margin-top:30px;
border-spacing:1px;
border-collapse:separate;
margin-bottom:30px;
}

.pricing_area table tr th {
width:177px;
font-size:30px;
font-weight:700;
font-family:'Open Sans';
height:87px;
vertical-align:middle;
text-align:center;
color:#0067ab;
background-color:#E4F7FF;
border-bottom:none;
}

.pricing_area table tr th.enterprise {
vertical-align:top;
padding-top:29px;
}

.pricing_area table tr th.enterprise .contact {
margin-top:75px;
font-size:23px;
font-weight:400;
line-height:25px;
}

.pricing_area table tr th.enterprise .email {
margin-top:10px;
font-size:13px;
font-weight:700;
}

.pricing_area table tr td {

width:177px;
height:57px;
color:#FFF;
font-weight:400;
vertical-align:middle;
text-align:center;
font-size:20px;
background:#0067ab;

}

.pricing_area table tr td small {
font-weight:400;
margin-top:4px;
display:block;
font-size:12px;
color:#FFF;
}

.pricing_area table tr td.firstcol {
background:#E4F7FF;
font-size:16px;
text-align:right;
padding-right:15px;
color:#0067ab;
width:141px;
font-weight:400;
}

.pricing_area table tr.price td {
font-size:33px;
font-weight:700;
background:#4f8b06;
color:#FFF;
}

.pricing_area table tr.price td small {
display:inline;
font-size:12px;
font-weight:400;
color:#FFF;
}

.pricing_area h2 {
text-align:center;
margin-bottom:20px;
}

.pricing_area .price {
text-align:center;
}

.pricing_area .signup {
margin-bottom:30px;
text-align:center;
}
.pricing_area table tr th.firstcol {
background: white;
}

.pricing_area{
	margin-top:50px;

}




.partner-list{
	overflow:auto;
}


.partner-list li{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 100px;
	font-size: 0px;
	border-image: initial;
	float: left;
	width: 100px;
	border: 1px solid #DBDEE1;
	background: white;
	text-align: center;
	margin-right: 10px;
	height: 100px;
	margin-bottom: 10px;
	padding: 10px;

}

.partner-list li img{
width: 100%;
height: auto;
vertical-align: middle;
}

.about-heading{
	border-bottom: 1px solid #E0EEF5 !important;
	clear: both;
	display: block;
	width: 940px;
	margin: 0 -20px 20px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	padding: 0 20px 10px 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

 ul.all-includes{
margin-left:20px;
list-style: disc;
color: #454545;
font-size: 15px;

}


.all-includes li{
	margin-left:20px;
	display: list-item;
	text-align: -webkit-match-parent;
	line-height: 20px;
	color: #555;
}

.inner-well {
	background-color: #FCFCFC;
	margin: 10px 0 20px;
	padding: 19px;
	min-height: 20px;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-image: initial;
}


#cancel_upload{
	display:none;
}



.takethetour{
font-size: 13px;
display: inline-block;
color:#0069D6;
}

.index_first_td_top{
display:inline-block;
width:100%;
}




.index_first_td_bottom{
display:inline-block;
width:100%;
padding-top:5px;

}

.index_first_td_top_left{
float:left;


}

.index_first_td_top_right{
float:right;
text-align:right;
}

.index_first_td_bottom_left{
width:50%;
float:left;

padding-left:20px;
}

.index_first_td_bottom_right{
	float:right;

text-align:right;
}


tr.rest{
	color:#777;
}


tr.rest td{
	padding-bottom: 5px;
}

