/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


.fileupload-content{
border-style: dashed!important;
border-width: 2px!important;
vertical-align: middle;
height: 100%;
width: 100%;
margin:auto;
background: transparent;
}

.content {
background-color: white;
padding: 20px 20px 20px 20px;
margin: 0 -20px;
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
box-shadow: 0 1px 2px rgba(0,0,0,.15);
margin-left:1px;
width:680px;
margin-top:66px;
margin-left:46px;
float:left;
position:relative;
}


.page-header {

padding: 20px 0px 0px;
margin: 20px 0px 20px;
}

.files_pic{
	opacity:0.1;

	background: url('/assets/Files.png') top center no-repeat;
	background-size:100px 100px;
	position:absolute;
	width: 100px;
height: 85px;
left:380px;
top:10px;
z-index:1;

}


.senditnow{
	opacity:0.1;

	background: url('/assets/senditnow.png') top center no-repeat;
	background-size:100px 100px;
	position:absolute;
	width: 100px;
height: 85px;
left:380px;
top:10px;
z-index:1;

}



.custom-form{
	width: 560px;
	margin:auto;
	margin-top:90px;
}

#xlInput_addTag input{
	width:148px;	
}

.icon{
	background-image: url("/assets/expand.png");
    height: 11px;
    width: 13px;
}

.logo{
	background-image: url("/assets/cloud.png");
	width: 30px;
	background-size: 30px 30px;	
}

.subject-field1{
	display:none;	
}
.subject-field2{
	display:none;	
}


.password-block{
	margin-left:17px;
	margin-top:5px;
	display:none;
}

.product-callout{
	margin-top:20px;


}
.product-callout .product {
float: left;
width: 220px;
margin: 0 10px;
margin-top:19px;
background-repeat: no-repeat;
padding-left: 123px;
background-position: 0px 0px;
}

#main-console{
	
width: 1050px;
margin: 0 auto;
text-align: left;
padding-bottom: 100px;

}

#left_nav {
font-size: 15px;
width: 165px;
float: left;
margin-left: 0;
}

#left_nav ul {
display: block;
}
.newsend a {
	display: block;
	font-size: 12px;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	font-family: arial,sans-serif;
	line-height: 20px;
}

.newsend a:hover{
	color: white;
	text-decoration: none;
}


#left_nav > ul > li a {
padding: 10px;
padding-left: 35px;
font-weight: 450;
display: inline-block;
width: 100%;
height: 100%;
width: 110px;
color: #555;
}


.newsend{
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	border: 1px solid #3079ED;
	color: white;
	float:left;
	margin-left:0px;
	margin-bottom:15px;
}

.newsend:hover{
  background: #357AE8;
  color: white;
  
}




#left_nav ul li.transfers > a {
background: url('/assets/transfers.png') 0 8px no-repeat;
}

#left_nav ul li.received > a {
background: url('/assets/received.png') 0 8px no-repeat;
}

#left_nav ul li.account > a {
background: url('/assets/account.png') 0 8px no-repeat;
}


#left_nav ul li.faq > a {
background: url('/assets/faq.png') 0 8px no-repeat;
}


#left_nav ul li.pricing > a {
background: url('/assets/pricing.png') 0 8px no-repeat;
}

#left_nav ul li.support> a {
background: url('/assets/support.png') 0 8px no-repeat;
}



#left_nav ul li.security> a {
background: url('/assets/security.png') 0 8px no-repeat;
}

.viewpane{
	position: relative;
	-moz-box-sizing: border-box;
    background-color: #FFFFFF;
    overflow: hidden;

}

.viewpane-content{
	border-collapse: collapse;
    width: 90%;
}

.viewpane-content tr{
	border-bottom: 1px solid #DDD;
}

.viewpane-content tr td{
	padding-bottom:10px;
}



div#pricingTable {
background: white;
margin: 18px 0 36px;
padding: 0;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
position: relative;
border: 1px solid #E7E3D7;
-moz-box-shadow: 0 0 15px #d6d9ea;
-webkit-box-shadow: 0 0 15px #d6d9ea;
box-shadow: 0 0 15px #d6d9ea;
width:95%;
margin:auto;
}


div#pricingTable div.wrap {
padding: 0;
border-top: 1px solid white;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}

div#pricingTable div.column-row {
margin: 0;
}
.column, .columns {
float: left;
display: inline;
margin: 0px 0px 0px 20px;
position: relative;
}

.column-row, .clearfix {
display: block;
}

.column-row::after, .clearfix::after {
content: '.';
display: block;
height: 0px;
clear: both;
visibility: hidden;
}


div#pricingTable div.column {
width: 178px;
height: 376px;
margin: 0;
}

div#pricingTable div.header {
 margin-bottom:10px;
}


div#pricingTable div.column * {
text-align: center;
}


div#pricingTable ul {
height:174px;
margin: 0px 0px 18px 18px;
padding: 0;
list-style: none;
border-top: 1px solid #EEEAD3;
width:80%;

}

div#pricingTable strong{
	color:#009694;
	font-size:120%;
}	

#planPlus ul{
	
	margin-left:0px;
}

div#pricingTable li {
font-size: 13px;
line-height: 22px;
border-top: 1px solid white;
border-bottom: 1px solid #EEEAD3;
color: #777;
}

div#pricingTable h2 {
margin: 0;
padding: 16px 0 0;
font-size: 30px;
line-height: 1.2;
margin: 0px;
letter-spacing: -1px;
color: #333;
font-weight: bold;
}

div#pricingTable h3 {
margin: 0;
padding: 0 0 5px;
font-size: 18px;
font-weight: normal;
color: #999;
}

div#pricingTable p {
line-height: 18px;
margin: 0px 0px 18px;
}

div#pricingTable div.header p {
font-weight: bold;
line-height: 16px;
margin: 5px 10px 0;
color: rgba(0, 0, 0, .75);
}

div#pricingTable div#planPremium, div#pricingTable div#planBasic {
background: white;
}

div#pricingTable div#planPlus {
background: white;
width: 176px;
margin: 0 0 -36px;
padding: 9px 20px;
position: relative;
top: -18px;
z-index: 5;
border: 5px solid #45BCE6;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;

-moz-box-shadow: 0 0 15px #BBB;
-webkit-box-shadow: 0 0 15px #BBB;
box-shadow: 0 0 15px #BBB;
}

.pressit{
	margin-bottom:30px;

}

.blue-sub {
border: none;
border-top: 1px solid #50BEDD;
background: #45BCDE;
background: -webkit-gradient(linear,left top,left bottom,from(#45BCDE),to(#43BADD));
background: -webkit-linear-gradient(top,#45BCDE,#43BADD);
background: -moz-linear-gradient(top,#45BCDE,#43BADD);
background: -ms-linear-gradient(top,#45BCDE,#43BADD);
background: -o-linear-gradient(top,#45BCDE,#43BADD);
padding: 5px 14px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: rgba(150,150,150,1) 0 1px 0;
-moz-box-shadow: rgba(150,150,150,1) 0 1px 0;
box-shadow: rgba(150,150,150,1) 0 1px 0;
text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
color: white!important;
font-size: 13px;
font-family: Helvetica,Arial,Sans-Serif;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
font-size: 12px;
padding: 10px 18px;
}

.blue-sub:hover{
	
text-decoration: none;
background:#50BEDD;


}


div.masthead {
margin: 0px auto;
padding: 20px 0px 0px;
text-align: center;
width: 100%;
font-family: "BaskervilleFSRegular", serif;
margin-top:30px;
}

div.masthead h1 {
margin-left:0px;
padding: 5px 0px 0px;
letter-spacing: -1px;
font-size: 36px;
position: relative;
color: #333;
font-weight: bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


div.masthead h2 {
color: #444;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
font-weight: normal;
letter-spacing: 0px;
margin: 0px;
}

.fileupload-progressbar{
	margin-bottom:10px;

}

	


#fileupload-progress{
	margin-top:2px;
	margin-left:15px;
}


.signup_content{
	border: 1px solid #EDEDED;
padding: 19px 19px 0 19px;
width: 96%;
margin: 20px auto;
background-color: white;
overflow:hidden;

}


div.callout-container {
background: #E6E6E6;
padding: 30px 0 30px 30px;
border: 1px solid #D9D9D9;
margin-bottom: 20px;
width: 96%;
}

div.signup_left{
	padding-bottom:20px;
	width: 500px;
	float: left;
	margin-right: 20px !important;
	padding-left:30px;

}


.signup_left label{
	text-align:left;
}

.signup_left h2{
	margin-bottom:10px;
}

.signup_right{
	width: 300px;
	float: left;
}
.signup_right ul{
	list-style:circle;
	margin-left:20px;


}
.signup_right ul li{
	color:#404040;


}

.personal_summary{
	display:none;

}

.instant_summary{
	display:none;

}

.premium_summary{
	display:none;

}

.plus_summary{
	display:none;

}

#upload_left{
	float:left;
}

#upload_right{
	float:left;
}

.container_information{
	padding-left:20px;
	width:250px;
	float:left;
}